:root {
    --one-color: #fcffe7;
    --two-color: #e0d8b0;
    --three-color: #dea057;
    --four-color: #ce9461;
    --toastify-color-progress-light: #ce9461;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: var(--one-color);
}

.App {
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: var(--one-color);
    color: #59360f;
}

.form-container {
    height: 60%;
    width: 25%;
    background-color: var(--two-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 6px;
}

.form-title {
    text-decoration: underline;
}

.form-prompt {
    margin: 0;
}

.form-input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: var(--three-color);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
}

button:hover {
    background-color: var(--four-color);
    cursor: pointer;
}

.break {
    width: 100%;
    height: 0;
}

.board-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--one-color);
    flex-wrap: wrap;
}

.style-fixer-button {
    margin: 0 50%;
    background-color: var(--one-color);
}

.disconnect-button {
    margin: 0 50%;
}

.player-container {
    background-color: var(--three-color);
    height: 50%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 2px solid #744d21;
    border-radius: 6px;
}

.player-1-container {
    margin-right: 10px;
    /* justify-self: flex-start; */
}

.player-2-containter {
    margin-left: 10px;
    /* justify-self: flex-end; */
}

.player-container h2 {
    justify-self: flex-start;
    padding: 5px;
    margin: 5px;
}

.defeated-pieces {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.active-player {
    color: #361f06;
    text-decoration: underline;
}

.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /* height: 400px;
    width: 400px; */
    align-self: center;
    justify-self: center;
}
.board-square {
    border: 2px solid #744d21;
    padding: 25px;
    margin: 0;
    text-align: center;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.black-board-square {
    color: white;
    background-color: var(--four-color);
    height: 100%;
    width: 100%;
}

.white-board-square {
    color: black;
    background-color: var(--two-color);
    height: 100%;
    width: 100%;
}

.white-board-square:hover {
    border: 2px solid black;
    cursor: pointer;
    background-color: rgb(121, 192, 121);
}

.black-board-square:hover {
    border: 2px solid black;
    cursor: pointer;
    background-color: rgb(121, 192, 121);
}

.square-code {
    font-size: 10px;
    align-self: baseline;
}

.empty-square {
    height: 50px;
    width: 50px;
}

.black-rook {
    height: 50px;
    width: 50px;
    background-image: url(./pieceImages/black-rook.svg);
    background-repeat: no-repeat;
}

.black-horse {
    height: 50px;
    width: 50px;
    background-image: url(./pieceImages/black-horse.svg);
    background-repeat: no-repeat;
}

.black-bishop {
    height: 50px;
    width: 50px;
    background-image: url(./pieceImages/black-bishop.svg);
    background-repeat: no-repeat;
}

.black-queen {
    height: 50px;
    width: 50px;
    background-image: url(./pieceImages/black-queen.svg);
    background-repeat: no-repeat;
}

.black-king {
    height: 50px;
    width: 50px;
    background-image: url(./pieceImages/black-king.svg);
    background-repeat: no-repeat;
}

.black-pawn {
    height: 50px;
    width: 50px;
    background-image: url(./pieceImages/black-pawn.svg);
    background-repeat: no-repeat;
}

.white-rook {
    height: 50px;
    width: 50px;
    background-image: url(./pieceImages/white-rook.svg);
    background-repeat: no-repeat;
}

.white-horse {
    height: 50px;
    width: 50px;
    background-image: url(./pieceImages/white-horse.svg);
    background-repeat: no-repeat;
}

.white-bishop {
    height: 50px;
    width: 50px;
    background-image: url(./pieceImages/white-bishop.svg);
    background-repeat: no-repeat;
}

.white-queen {
    height: 50px;
    width: 50px;
    background-image: url(./pieceImages/white-queen.svg);
    background-repeat: no-repeat;
}

.white-king {
    height: 50px;
    width: 50px;
    background-image: url(./pieceImages/white-king.svg);
    background-repeat: no-repeat;
}

.white-pawn {
    height: 50px;
    width: 50px;
    background-image: url(./pieceImages/white-pawn.svg);
    background-repeat: no-repeat;
}

.first-piece-selection {
    background-color: rgb(121, 192, 121);
}
